.error {
    color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.error h1 {
    font-size: 2rem;
}
.error p {
    font-size: 1.5rem;
}