:root {
    --font-main: Arial, san-serif;

    --filter-width: 77.45%;
    --filter-gap: 1.875rem;
    --filter-input-flex-basis: 9rem;
    --filter-dropdown-flex-basis: 7.875rem;
    --filter-input-flex-grow: 1;
    --filter-dropdown-flex-grow: .875;
}

/* colors */
#root-app[data-theme="default"] {
    --color-primary: #072659;
    --color-bg: #FFFFFF;

    --font-color-primary: #072659;
    --font-color-secondary: #FFFFFF;
    --font-color-inactive: #657A9D;
}