.filter {
    display: flex;
}
.container {
    width: var(--filter-width);
    display: flex;
    align-items: center;
    gap: var(--filter-gap);
}
.container > input {
    flex-grow: var(--filter-input-flex-grow);
    flex-basis: var(--filter-input-flex-basis);
    min-width: var(--filter-input-flex-basis);
}
.container > div {
    min-width: var(--filter-dropdown-flex-basis);
    flex-grow: var(--filter-dropdown-flex-grow);
    flex-basis: var(--filter-dropdown-flex-basis);
    color: var(--font-color-inactive);
}
.container div > button {
    font-size: 1.125rem;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}